body {
  color: white;
  background: #050608;
}

span {
  font-size: 30px;
}

#camera,
#result {
  border: 2px dashed rgb(196, 28, 28);
  width: 350px;
  height: 300px;
}

#resultEmotionName
 {
  color: rgb(34, 19, 245);
}

.emotionName {
  font-size: 40px;
}

.emoji {
  font-size: 48px;
}

.heading {
  font-size: 18px;
  border-radius: 10px;
  letter-spacing: 10px;
}

label {
  font-size: 14px;
  color: #62b33a;
  padding: 6px;
  border-radius: 10px;
  background-color: white;
}